/* .hide{
    display: none;
} */
/* .header-cell {
    font-weight: bold;
  } */
/* body{
    background-color: black;
} */

.bold-header .react-grid-HeaderCell__value {
    font-weight: bold;
  }
.Hello{
font-weight: bolder;
  }
  .datagrid-header .MuiDataGrid-colCellTitle {
    text-align: center;
    background-color: yellow !important;
  }